.widgetRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

#widget {
  margin: 0 15px;
}

.btnClass {
  width: 200px;
  height: 219px;
  padding: inherit;
  border: 0px;
}

.btnImage {
  align-content: flex-start;
  width: 200px;
  height: 219px;
}
