#widgetRow {
  display: flex;
  margin: 0 -5px;
}
.widget {
  margin: 0 5px;
}

.btnClass {
  width: 200px;
  height: 219px;
  padding: inherit;
  border: 0px;
}

.btnImage {
  align-content: flex-start;
  width: 200px;
  height: 219px;
}
